<!DOCTYPE html>
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@lucydavinhart">
<meta name="twitter:title" content="Boids">
<meta name="twitter:description" content="Boids Simulation in Go">
<meta name="twitter:image" content="https://labs.lmhd.me/boids/screenshot.png">
<meta name="twitter:player" content="https://labs.lmhd.me/boids/">
<meta name="twitter:player:width" content="400">
<meta name="twitter:player:height" content="300">
<script src="https://pkg.jsgo.io/github.com/lucymhdavies/go-experiments/ebiten/boids.REPLACE_COMMIT.js"></script>
