<!DOCTYPE html>
<style>
body {
	background-color: transparent !important;
	color: white;
}
</style>
<body>
<script src="https://pkg.jsgo.io/github.com/lucymhdavies/go-experiments/ebiten/boids.REPLACE_COMMIT.js"></script>
</body>
